@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
} */

.menu-item {
  @apply flex h-9 w-full items-center rounded-lg pl-3 text-base font-semibold text-primary dark:text-white;
}
.menu-item:hover {
  @apply bg-secondary text-primary transition-colors duration-500 ease-in-out;
}
.menu-item-active {
  @apply flex h-9 w-full items-center rounded-lg bg-secondary pl-3 text-base font-semibold text-primary;
}
.toggle {
  @apply fill-primary dark:fill-secondary;
}
.gff {
  @apply flex w-1/2 items-center p-6;
}

.denemewrapper::after {
  background: url("/down-arrow.svg") no-repeat;
  bottom: 12px;
  right: 12px;
  position: absolute;
  content: " ";
  width: 12px;
  height: 12px;
}
.inputTextCustom {
  @apply text-primary dark:text-white !important;
}
