@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
} */

.menu-item {
  @apply rounded-small flex h-10 w-full items-center py-2 pl-3 text-base font-semibold text-white;
}
.menu-item:hover {
  @apply bg-secondary text-white transition-colors duration-500 ease-in-out;
}
.menu-item-active {
  @apply rounded-small flex h-10 w-full items-center bg-secondary pl-3 text-base font-semibold text-white;
}
.toggle {
  @apply fill-primary dark:fill-secondary;
}
.gff {
  @apply flex w-1/2 items-center p-6;
}

.selectWrapper::after {
  background: url("/down-arrow.svg") no-repeat;
  bottom: 12px;
  right: 12px;
  position: absolute;
  content: " ";
  width: 12px;
  height: 12px;
}
.inputTextCustom {
  @apply text-primary dark:text-white !important;
}
.customInput {
  @apply mt-[6px] rounded-md  border border-solid border-inputBorder px-3 text-base font-medium outline-none focus:border-primary focus:outline-none focus:ring-1 focus:ring-primary dark:border-inputDarkBorder dark:bg-primary dark:focus:ring-inputDarkBorder;
}
.warningRed {
  @apply border-red-400 text-red-400 focus:border-red-400 focus:ring-red-400 dark:border-red-400 dark:focus:ring-red-400;
}
.warningYellow {
  @apply border-amber-400 text-amber-400 focus:border-amber-400 focus:ring-amber-400 dark:border-amber-400 dark:focus:ring-amber-400;
}
.warningGreen {
  /* @apply border-green-400 text-green-400 focus:border-green-400 focus:ring-green-400 dark:border-green-400 dark:focus:ring-green-400; */
}

/* -------------------------------------------------------------------------------------------- */

/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism&languages=markup */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

.hljs {
  white-space: break-spaces;
}
/*

Gradient Dark (c) Samia Ali <samiaab1990@gmail.com>

*/
pre {
  padding: 0px !important;
  margin: 0px !important;
}
.hljs {
  display: block !important;
  overflow-x: unset !important;
  padding: 0px !important;
  color: #e7e4eb !important;
  background-color: transparent !important;
  font-size: 14px !important;
  letter-spacing: 0.1px;
}

.hljs-subtr {
  color: #e7e4eb !important;
}

.hljs-doctag,
.hljs-meta,
.hljs-comment,
.hljs-quote {
  color: #af8dd9 !important;
}

.hljs-selector-tag,
.hljs-selector-id,
.hljs-template-tag,
.hljs-regexp,
.hljs-attr,
.hljs-tag {
  color: #aefbff !important;
}

.hljs-params,
.hljs-selector-class,
.hljs-bullet {
  color: #f19fff !important;
}

.hljs-keyword,
.hljs-section,
.hljs-meta-keyword,
.hljs-symbol,
.hljs-type {
  color: #17fc95 !important;
}

.hljs-addition,
.hljs-number,
.hljs-link {
  color: #c5fe00 !important;
}

.hljs-string {
  color: #38c0ff !important;
}

.hljs-attribute,
.hljs-addition {
  color: #e7ff9f !important;
}

.hljs-variable,
.hljs-template-variable {
  color: #e447ff !important;
}

.hljs-builtin-name,
.hljs-built_in,
.hljs-formula,
.hljs-name,
.hljs-title,
.hljs-class,
.hljs-function {
  color: #ffc800 !important;
}

.hljs-selector-pseudo,
.hljs-deletion,
.hljs-literal {
  color: #ff9e44 !important;
}

.hljs-emphasis,
.hljs-quote {
  font-style: italic !important;
}

.hljs-params,
.hljs-selector-class,
.hljs-strong,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-template-tag,
.hljs-section,
.hljs-keyword {
  font-weight: bold !important;
}
.hljs-tag {
  white-space: normal;
}
/* -------------------------------------------------------------------------------------------- */
